.heading {
  margin-top: 150px;
  margin-bottom: 50px;
  font-family: 'Stratos Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 113px;
}

@media screen and (max-width: 1520px) {
  .heading {
    margin-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 101px;
  }
}
