.wrapper {
  margin-top: 150px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-family: 'Stratos Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 113px;
}

@media screen and (max-width: 1520px) {
  .wrapper {
    margin-top: 50px;
  }

  .heading {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 101px;
  }
}
