.wrapper {
  margin-top: 60px;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-family: 'Stratos Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 113px;
}

@media screen and (max-width: 1520px) {
  .wrapper {
    margin-top: 81px;
    margin-bottom: 80px;
  }

  .heading {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 101px;
  }
}

@media screen and (max-width: 1300px) {
  .wrapper {
    margin-top: 15px;
    margin-bottom: 60px;
  }

  .heading {
    font-size: 60px;
    line-height: 76px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin-top: 3px;
    margin-bottom: 32px;
    flex-wrap: wrap;
  }

  .heading {
    font-size: 32px;
    line-height: 40px;
  }
}