.wrapper {
  width: 100%;
}

.name {
  font-family: 'Stratos Regular';
  width: 100%;
  margin-bottom: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  color: #000000;
}

.meta{
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;

  &__meta {
    font-family: 'Stratos Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    opacity: 0.3;
  }

  &__date {
    font-family: 'Stratos Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    opacity: 0.3;
  }

  &__decorator {
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: #000000;
    opacity: 0.3;
  }
}

.contentLine {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.liner {
  width: 9px;
  height: 1px;
  background-color: #999999;
}

.contentElem {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

@media screen and (max-width: 1300px) {
  .name {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 23px;
  }

  .meta{
    margin-bottom: 16px;

    &__meta {
      font-size: 16px;
      line-height: 22px;
    }
  
    &__date {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .contentElem {
    font-size: 16px;
    line-height: 22px;
  }
}